
.card-container {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: #f7f7f7;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container.pokemon {
    border: 2px solid #3b4cca; 
}

.card-container.digimon {
    border: 2px solid #ff4400; 
}

.card-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2rem;
}

.card-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto 15px;
}

.card-details p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}